<div id="timeline">
  <div id="Inktober-definition">
    <h2>Inktober</h2>
    <blockquote>Every October, artists all over the world take on the Inktober drawing challenge by doing one
      ink drawing a day the entire month.</blockquote>
    <span>- from <a href="https://inktober.com/" target="_blank">inktober.com</a></span>
  </div>
  <br />
  <h2>Prompt list</h2>
  <br />
  <div id="AllWeeks">
    <ng-template ngFor let-key [ngForOf]="objectKeys(getWeeks)">
      <br />
      <h3 id="{{key}}"> {{ weekNames(key) }} </h3>
      <div class="{{key}} Inktober flex">
        <div *ngFor="let weekNum of getWeeks[key]">
          <div id="day-{{weekNum}}-Inktober" (click)="inktoberClick($event)">
            <h3 id="Inktober-day-{{weekNum}}"> {{ weekNum }} </h3>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  <br />
  <div id="description">
    <ng-template ngFor let-key [ngForOf]="objectKeys(prompts)">
      <div class="{{inktoberClasses(key)}}">
        <p>{{ inktoberNames(key) }}: <q>{{ prompts[key].prompt }}</q></p>
        <br />
        <p [innerHTML]="prompts[key].description"></p>
        <br />
        <ng-template [ngIf]="prompts[key].description">
          <img id="Inktober-{{prompts[key].prompt}}" alt="Inktober {{prompts[key].prompt}}"
            src="{{prompts[key].imgSrc}}" />
          <ng-template [ngIf]="prompts[key].imgSrc2">
            <img id="Inktober-{{prompts[key].prompt}}" alt="Inktober {{prompts[key].prompt}} 2"
              src="{{prompts[key].imgSrc2}}" />
          </ng-template>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>
