<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title> {{ title }} </title>
    <base href="/conlang/" />
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico" />
  </head>
  <body>
    <nav id="head-nav">
      <ul>
        <li *ngFor="let linkName of navLinks">
          <a routerLink="/{{lowerCase(linkName)}}" routerLinkActive="active">
						<b class="megrim"> {{ linkName }} </b>
					</a>
        </li>
        <li class="right"> <a href="https://mrmatanui.github.io"> Home </a> </li>
        <li class="right"> <a href="https://mrmatanui.github.io/martian/"> Martian Conlang </a> </li>
        <li class="right Rborder"> <a href="https://twitter.com/MrMataNui/" target="_blank"> Twitter </a> </li>
        <li class="right Lborder"> <a href="https://www.reddit.com/user/MrMataNui/" target="_blank"> Reddit </a> </li>
      </ul>
    </nav>
    <h1 id="header" class="megrim"> MrMataNui's Claymation Progress </h1>
    <hr /> <br />
    <router-outlet></router-outlet>
  </body>
</html>
