body {
  background: #222;
  font-family: Georgia, serif;
  color: #FFF;
  font-size: 14px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1em !important;
  padding: 2%;
}

#head-nav {
	border-style: solid;
	border-color: #FFF;
	border-width: 1px;
	z-index: 10;
}

#head-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	width: 100%;
}

.right { float: right; }
.right.border { border-right: 1px solid #BBB; }
.right.Lborder { border-left: 1px solid #BBB; }

#head-nav li:not(.right) {
	float: left;
	border-right: 1px solid #BBB;
}

#head-nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#head-nav li a:hover:not(.active) { background-color: #111; }
#head-nav .active { background-color: #4CAF50; }

.pacifico { font-family: 'Pacifico', cursive;}
.saira-stencil { font-family: 'Saira Stencil One', cursive; }

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-right: 1px solid white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover { background-color: #DDD; }
.dropdown:hover .dropdown-content { display: block; }

th {
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
}

.center { text-align: center; }

.down-arrow {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /* float: right; */
}
.sticky { position: fixed; top: 0; width: 69%; }
.sticky + .content { padding-top: 60px; }
