q, .quotes { quotes: '‘' '’'; }
blockquote::before, q::before, .quotes::before { content: open-quote; }
blockquote::after, q::after, .quotes::after { content: close-quote; }

.pacifico { font-family: 'Pacifico', cursive; }
.sirin-stencil { font-family: 'Sirin Stencil', cursive; }
.saira-stencil-one { font-family: 'Saira Stencil One', cursive; }
.srisakdi { font-family: 'Srisakdi', cursive; }
.barriecito { font-family: 'Barriecito', cursive; }
.beth-ellen { font-family: 'Beth Ellen', cursive; }
.bungee-shade { font-family: 'Bungee Shade', cursive; }
.libre-barcode-39 { font-family: 'Libre Barcode 39', cursive; }
.megrim { font-family: 'Megrim', cursive; }

canvas.background {
	background-color: #666;
	background-attachment: fixed;
	position: fixed;
	top: 0; left: 0;
	z-index: -5;
	width: 100%;
	height: 100%;
}

/* #### Mobile Phones Portrait #### */
#mobile-nav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

#myLinks { display: none; }
#mobile-nav { display: none; }
#head-nav { display: block; }

#mobile-nav a {
  color: white;
  padding: 1.1em 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

#mobile-nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.active {
  background-color: #4CAF50;
  color: white;
}

@media screen
and (max-device-width: 480px)
and (orientation: portrait) {
	app-root body {
		width: 100%;
	}

	#link-loc {
		line-height: 2em;
		color: #FFF;
	}

	#mobile-nav {
		display: block;
		font-size: 2em;
	}

	#head-nav { display: none; }

	#timeline { flex-direction: column; }
}

